.noImageHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 1rem;
  background: #323232;
  height: 100%;
  width: 100%;
  color: white;

  &__text {
    font-size: 2rem;
  }
}
